In [1]:
import pandas as pd
import yfinance as yf

# Fetch Reliance Industries data
reliance = yf.Ticker("RELIANCE.NS")
reliance_history = reliance.history(period="2y")
reliance_history.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2023-06-05 00:00:00+05:30,1134.604461,1142.215393,1130.580468,1139.226196,10908682,0.0,0.0
2023-06-06 00:00:00+05:30,1142.077446,1144.031846,1132.213121,1140.191895,7493309,0.0,0.0
2023-06-07 00:00:00+05:30,1143.710008,1149.688401,1137.087771,1148.837646,10312545,0.0,0.0
2023-06-08 00:00:00+05:30,1152.447570,1157.437268,1145.549452,1149.527344,12071109,0.0,0.0
2023-06-09 00:00:00+05:30,1152.907549,1153.620363,1139.571114,1141.387695,5877018,0.0,0.0

In [2]:
# Fetch Tata Chemicals data
tata = yf.Ticker("TATACHEM.NS")

# Get historical stock price for last 2 years
tata_history = tata.history(period="2y")

# Display top 5 rows
tata_history.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2023-06-05 00:00:00+05:30,949.467970,986.638379,946.802559,964.927368,5155439,0.0,0.0
2023-06-06 00:00:00+05:30,969.240492,976.122076,958.384987,963.182739,966295,0.0,0.0
2023-06-07 00:00:00+05:30,966.768939,969.240490,960.808086,964.151978,485131,0.0,0.0
2023-06-08 00:00:00+05:30,968.271231,983.779078,966.381200,972.390503,1389967,0.0,0.0
2023-06-09 00:00:00+05:30,973.117460,977.091322,950.970338,955.622681,959079,0.0,0.0

In [3]:
# Save both datasets to CSV in the /data folder

reliance_history.to_csv("../data/reliance_stock.csv")
tata_history.to_csv("../data/tata_chemicals_stock.csv")

print("Both files saved successfully!")

Both files saved successfully!

In [4]:
# Reliance Industries - key financial info
reliance_info = reliance.info

# Display selected financial metrics
reliance_metrics = {
    "Company": "Reliance Industries",
    "Sector": reliance_info.get("sector"),
    "Market Cap": reliance_info.get("marketCap"),
    "P/E Ratio": reliance_info.get("trailingPE"),
    "EPS": reliance_info.get("trailingEps"),
    "Revenue": reliance_info.get("totalRevenue"),
    "Net Income": reliance_info.get("netIncomeToCommon"),
    "Debt": reliance_info.get("totalDebt")
}

reliance_metrics

{'Company': 'Reliance Industries',
 'Sector': 'Energy',
 'Market Cap': 19254040592384,
 'P/E Ratio': 27.810791,
 'EPS': 51.16,
 'Revenue': 9646929608704,
 'Net Income': 696479973376,
 'Debt': 3695749890048}

In [5]:
# Tata Chemicals - key financial info
tata_info = tata.info

# Display selected financial metrics
tata_metrics = {
    "Company": "Tata Chemicals",
    "Sector": tata_info.get("sector"),
    "Market Cap": tata_info.get("marketCap"),
    "P/E Ratio": tata_info.get("trailingPE"),
    "EPS": tata_info.get("trailingEps"),
    "Revenue": tata_info.get("totalRevenue"),
    "Net Income": tata_info.get("netIncomeToCommon"),
    "Debt": tata_info.get("totalDebt")
}

tata_metrics

{'Company': 'Tata Chemicals',
 'Sector': 'Basic Materials',
 'Market Cap': 233713156096,
 'P/E Ratio': 115.10666,
 'EPS': 7.97,
 'Revenue': 148870004736,
 'Net Income': 2020000000,
 'Debt': 70719995904}

In [6]:
import pandas as pd

# Convert to DataFrame
metrics_df = pd.DataFrame([reliance_metrics, tata_metrics])

# Save to CSV
metrics_df.to_csv("../data/financial_metrics.csv", index=False)

print("Financial metrics saved successfully!")

Financial metrics saved successfully!